<p-card header="{{nombre2 | titlecase}}." subheader="Ejemplo de Card con Prime NG" [style]="{width: '420px'}" styleClass="p-card-shadow">
    <ng-template pTemplate="header">
        <img alt="Card" src="https://kajabi-storefronts-production.kajabi-cdn.com/kajabi-storefronts-production/sites/93943/images/V0dHUYmVRfezmcPYOq0y_pexels-pixabay-220067.jpg">
    </ng-template>
    <hr>
    <p align="justify">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed consequuntur error repudiandae numquam deserunt
       quisquam repellat libero asperiores earum nam nobis, culpa ratione quam perferendis esse, cupiditate neque quas!. 
       El sueldo que gana {{nombre2 | titlecase}} es de ${{sueldo | number}}.
    </p>
    <ng-template pTemplate="footer">
        <button pButton 
                type="button" 
                label="Cambiar Nombre" 
                icon="pi pi-check-circle" iconPos="left"
                class="p-button-success p-button-outlined p-button-raised p-button-rounded"
                style="margin-right: 5px;"
                (click)="mostrarNombre()"></button>

        <button pButton 
                type="button" 
                label="Cancelar Operación" 
                icon="pi pi-times" iconPos="left"
                class="p-button-danger p-button-outlined p-button-raised p-button-rounded"
                (click)="mostrarNombre()"></button>
    </ng-template>
</p-card>
